$button-size: 65px;

.add-button {
	border-radius: 50px !important;
	border: 2px solid white !important;
	color: white !important;
	// padding: 20px !important;
	background-color: transparent !important;
	width: $button-size !important;
	height: $button-size !important;
}
