.card {
	width: 100% !important;
}

.card-body {
	text-align: left !important;
}

.card-btn {
	height: 100% !important;
	width: 100% !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
	box-shadow: none !important;
	border: 0 !important;
    background-color: transparent !important;
    color: gold !important;
}

.card-img {
	height: 125px !important;
    width: 100vw !important;
	object-fit: fill !important;
}
