.search-form {
	padding: 20px !important;
	background-color: transparent !important;
	border: none !important;
	border-bottom: 4px solid yellow !important;
	border-radius: 0 !important;
	font-size: x-large !important;

	&:focus {
		box-shadow: none !important;
	}

	&::placeholder {
		font-weight: lighter !important;
	}
}

.search-btn {
	background-color: transparent !important;
	border: none !important;
	color: black !important;
	height: 100% !important;
	width: 100% !important;
}
